In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df1 = pd.read_csv('Survey_data.csv', delimiter=',', header=0)
df1.head()

,Id,Satisfaction,Seat_comfort,Departure.Arrival.time_convenient,Food_drink,Gate_location,Inflightwifi_service,Inflight_entertainment,Online_support,Ease_of_Onlinebooking,Onboard_service,Leg_room_service,Baggage_handling,Checkin_service,Cleanliness,Online_boarding
0,198671,neutral or dissatisfied,poor,acceptable,acceptable,manageable,poor,need improvement,poor,poor,acceptable,acceptable,poor,need improvement,need improvement,poor
1,193378,satisfied,excellent,need improvement,excellent,Convinient,acceptable,excellent,acceptable,acceptable,good,acceptable,excellent,acceptable,excellent,acceptable
2,174522,satisfied,good,good,good,manageable,acceptable,excellent,excellent,need improvement,need improvement,good,need improvement,excellent,need improvement,excellent
3,191830,satisfied,good,good,good,manageable,poor,good,poor,poor,poor,good,poor,acceptable,acceptable,poor
4,221497,satisfied,good,good,NaN,Convinient,good,good,good,good,good,good,good,excellent,good,good

In [3]:
df2 = pd.read_csv('Flight+data.csv', delimiter=',', header=0)
df2.head()

,ID,Gender,CustomerType,Age,TypeTravel,Class,Flight_Distance,DepartureDelayin_Mins,ArrivalDelayin_Mins
0,149965,Female,Loyal Customer,65,Personal Travel,Eco,265,0,0.0
1,149966,Female,Loyal Customer,15,Personal Travel,Eco,2138,0,0.0
2,149967,Female,Loyal Customer,60,Personal Travel,Eco,623,0,0.0
3,149968,Female,Loyal Customer,70,Personal Travel,Eco,354,0,0.0
4,149969,Male,Loyal Customer,30,NaN,Eco,1894,0,0.0

In [4]:
df1.shape, df2.shape

((90917, 16), (90917, 9))

In [8]:
# Concatenate the DataFrames vertically (row-wise)
df = pd.merge(df1, df2, left_on='Id', right_on='ID')

print(df.head(3))

       Id             Satisfaction Seat_comfort  \
0  198671  neutral or dissatisfied         poor
1  193378                satisfied    excellent
2  174522                satisfied         good

  Departure.Arrival.time_convenient  Food_drink Gate_location  \
0                        acceptable  acceptable    manageable
1                  need improvement   excellent    Convinient
2                              good        good    manageable

  Inflightwifi_service Inflight_entertainment Online_support  \
0                 poor       need improvement           poor
1           acceptable              excellent     acceptable
2           acceptable              excellent      excellent

  Ease_of_Onlinebooking  ... Online_boarding      ID  Gender  \
0                  poor  ...            poor  198671    Male
1            acceptable  ...      acceptable  193378  Female
2      need improvement  ...       excellent  174522  Female

        CustomerType Age       TypeTravel     Class Flight_Distance  \
0     Loyal Customer  30  Business travel  Business            1354
1  disloyal Customer  20              NaN  Business            1439
2                NaN  55  Personal Travel  Eco Plus             976

  DepartureDelayin_Mins  ArrivalDelayin_Mins
0                    11                  8.0
1                     6                  0.0
2                     4                  0.0

[3 rows x 25 columns]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90917 entries, 0 to 90916
Data columns (total 25 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Id                                 90917 non-null  int64
 1   Satisfaction                       90917 non-null  object
 2   Seat_comfort                       90917 non-null  object
 3   Departure.Arrival.time_convenient  82673 non-null  object
 4   Food_drink                         82736 non-null  object
 5   Gate_location                      90917 non-null  object
 6   Inflightwifi_service               90917 non-null  object
 7   Inflight_entertainment             90917 non-null  object
 8   Online_support                     90917 non-null  object
 9   Ease_of_Onlinebooking              90917 non-null  object
 10  Onboard_service                    83738 non-null  object
 11  Leg_room_service                   90917 non-null  object
 12  Baggage_handling                   90917 non-null  object
 13  Checkin_service                    90917 non-null  object
 14  Cleanliness                        90917 non-null  object
 15  Online_boarding                    90917 non-null  object
 16  ID                                 90917 non-null  int64
 17  Gender                             90917 non-null  object
 18  CustomerType                       81818 non-null  object
 19  Age                                90917 non-null  int64
 20  TypeTravel                         81829 non-null  object
 21  Class                              90917 non-null  object
 22  Flight_Distance                    90917 non-null  int64
 23  DepartureDelayin_Mins              90917 non-null  int64
 24  ArrivalDelayin_Mins                90633 non-null  float64
dtypes: float64(1), int64(5), object(19)
memory usage: 17.3+ MB

In [10]:
df.columns

Index(['Id', 'Satisfaction', 'Seat_comfort',
       'Departure.Arrival.time_convenient', 'Food_drink', 'Gate_location',
       'Inflightwifi_service', 'Inflight_entertainment', 'Online_support',
       'Ease_of_Onlinebooking', 'Onboard_service', 'Leg_room_service',
       'Baggage_handling', 'Checkin_service', 'Cleanliness', 'Online_boarding',
       'ID', 'Gender', 'CustomerType', 'Age', 'TypeTravel', 'Class',
       'Flight_Distance', 'DepartureDelayin_Mins', 'ArrivalDelayin_Mins'],
      dtype='object')

In [11]:
df1=df

In [17]:
df.isna().sum().sum()

42075

In [48]:
df.isna().sum()

Id                                      0
Satisfaction                            0
Seat_comfort                            0
Departure.Arrival.time_convenient       0
Food_drink                              0
Gate_location                           0
Inflightwifi_service                    0
Inflight_entertainment                  0
Online_support                          0
Ease_of_Onlinebooking                   0
Onboard_service                         0
Leg_room_service                        0
Baggage_handling                        0
Checkin_service                         0
Cleanliness                             0
Online_boarding                         0
ID                                      0
Gender                                  0
CustomerType                         9099
Age                                     0
TypeTravel                              0
Class                                   0
Flight_Distance                         0
DepartureDelayin_Mins                   0
ArrivalDelayin_Mins                     0
dtype: int64

In [49]:
df = df.fillna('Unknown')
df.isna().sum().sum()

0

In [21]:
df.head()

,Id,Satisfaction,Seat_comfort,Departure.Arrival.time_convenient,Food_drink,Gate_location,Inflightwifi_service,Inflight_entertainment,Online_support,Ease_of_Onlinebooking,...,Online_boarding,ID,Gender,CustomerType,Age,TypeTravel,Class,Flight_Distance,DepartureDelayin_Mins,ArrivalDelayin_Mins
0,198671,neutral or dissatisfied,poor,acceptable,acceptable,manageable,poor,need improvement,poor,poor,...,poor,198671,Male,Loyal Customer,30,Business travel,Business,1354,11,8.0
1,193378,satisfied,excellent,need improvement,excellent,Convinient,acceptable,excellent,acceptable,acceptable,...,acceptable,193378,Female,disloyal Customer,20,Unknown,Business,1439,6,0.0
2,174522,satisfied,good,good,good,manageable,acceptable,excellent,excellent,need improvement,...,excellent,174522,Female,Unknown,55,Personal Travel,Eco Plus,976,4,0.0
3,191830,satisfied,good,good,good,manageable,poor,good,poor,poor,...,poor,191830,Male,disloyal Customer,24,Business travel,Eco,2291,0,0.0
4,221497,satisfied,good,good,Unknown,Convinient,good,good,good,good,...,good,221497,Male,Loyal Customer,32,Business travel,Business,3974,0,0.0

In [51]:
mapping = {
    'extremely poor': 1,
    'poor': 2,
    'need improvement': 3,
    'acceptable': 4,
    'good': 5,
    'excellent': 6,
    'Unknown': 7
}
df = df.replace(mapping)
df.head()

,Id,Satisfaction,Seat_comfort,Departure.Arrival.time_convenient,Food_drink,Gate_location,Inflightwifi_service,Inflight_entertainment,Online_support,Ease_of_Onlinebooking,...,Online_boarding,ID,Gender,CustomerType,Age,TypeTravel,Class,Flight_Distance,DepartureDelayin_Mins,ArrivalDelayin_Mins
0,198671,neutral or dissatisfied,2,4,4,4,2,3,2,2,...,2,198671,Male,Loyal Customer,30,Business travel,Business,1354,11,8.0
1,193378,satisfied,6,3,6,5,4,6,4,4,...,4,193378,Female,disloyal Customer,20,7,Business,1439,6,0.0
2,174522,satisfied,5,5,5,4,4,6,6,3,...,6,174522,Female,7,55,Personal Travel,Eco Plus,976,4,0.0
3,191830,satisfied,5,5,5,4,2,5,2,2,...,2,191830,Male,disloyal Customer,24,Business travel,Eco,2291,0,0.0
4,221497,satisfied,5,5,7,5,5,5,5,5,...,5,221497,Male,Loyal Customer,32,Business travel,Business,3974,0,0.0

In [27]:
df.columns

Index(['Id', 'Satisfaction', 'Seat_comfort',
       'Departure.Arrival.time_convenient', 'Food_drink', 'Gate_location',
       'Inflightwifi_service', 'Inflight_entertainment', 'Online_support',
       'Ease_of_Onlinebooking', 'Onboard_service', 'Leg_room_service',
       'Baggage_handling', 'Checkin_service', 'Cleanliness', 'Online_boarding',
       'ID', 'Gender', 'CustomerType', 'Age', 'TypeTravel', 'Class',
       'Flight_Distance', 'DepartureDelayin_Mins', 'ArrivalDelayin_Mins'],
      dtype='object')

In [40]:
df.iloc[:, :8]

,Id,Satisfaction,Seat_comfort,Departure.Arrival.time_convenient,Food_drink,Gate_location,Inflightwifi_service,Inflight_entertainment
0,198671,neutral or dissatisfied,2,4,4,4,2,3
1,193378,satisfied,6,3,6,5,4,6
2,174522,satisfied,5,5,5,4,4,6
3,191830,satisfied,5,5,5,4,2,5
4,221497,satisfied,5,5,7,5,5,5
...,...,...,...,...,...,...,...,...
90912,152951,satisfied,1,5,1,5,3,6
90913,220134,satisfied,2,2,2,2,5,6
90914,174403,satisfied,5,5,5,4,5,5
90915,224128,satisfied,5,2,6,6,5,5
90916,186039,neutral or dissatisfied,4,3,3,4,5,4

In [41]:
df.iloc[:, 8:16]

,Online_support,Ease_of_Onlinebooking,Onboard_service,Leg_room_service,Baggage_handling,Checkin_service,Cleanliness,Online_boarding
0,2,2,4,4,2,3,3,2
1,4,4,5,4,6,4,6,4
2,6,3,3,5,3,6,3,6
3,2,2,2,5,2,4,4,2
4,5,5,5,5,5,6,5,5
...,...,...,...,...,...,...,...,...
90912,5,5,5,6,6,5,5,4
90913,6,5,5,5,5,6,5,5
90914,6,2,2,5,2,4,2,6
90915,5,5,5,4,3,2,4,5
90916,5,5,2,6,4,3,5,5

In [52]:
df.iloc[:, 16:25]

,ID,Gender,CustomerType,Age,TypeTravel,Class,Flight_Distance,DepartureDelayin_Mins,ArrivalDelayin_Mins
0,198671,Male,Loyal Customer,30,Business travel,Business,1354,11,8.0
1,193378,Female,disloyal Customer,20,7,Business,1439,6,0.0
2,174522,Female,7,55,Personal Travel,Eco Plus,976,4,0.0
3,191830,Male,disloyal Customer,24,Business travel,Eco,2291,0,0.0
4,221497,Male,Loyal Customer,32,Business travel,Business,3974,0,0.0
...,...,...,...,...,...,...,...,...,...
90912,152951,Female,7,46,Personal Travel,Eco,1143,0,0.0
90913,220134,Female,Loyal Customer,45,7,Business,3585,1,0.0
90914,174403,Female,Loyal Customer,67,7,Eco,2563,3,2.0
90915,224128,Female,Loyal Customer,37,Business travel,Eco,1027,0,0.0
90916,186039,Male,disloyal Customer,43,Business travel,Business,1491,53,53.0

In [39]:
mapping = {
    'very inconvinient': 1,
    'Inconvinient': 2,
    'need improvement': 3,
    'manageable': 4,
    'Convinient': 5,
    'very convinient': 6,
    'manageable': 4
}

df = df.replace(mapping)

In [79]:
# mapping = {'Loyal Customer': 1, 'disloyal Customer': 2}
# df['CustomerType'] = df['CustomerType'].replace(mapping)
# df['CustomerType'].value_counts()
# df['CustomerType'] = df1['CustomerType']
df = pd.get_dummies(df, columns=['CustomerType'], prefix='CustomerType')
df.columns

Index(['Satisfaction', 'Seat_comfort', 'Departure.Arrival.time_convenient',
       'Food_drink', 'Gate_location', 'Inflightwifi_service',
       'Inflight_entertainment', 'Online_support', 'Ease_of_Onlinebooking',
       'Onboard_service', 'Leg_room_service', 'Baggage_handling',
       'Checkin_service', 'Cleanliness', 'Online_boarding', 'ID', 'Gender',
       'Age', 'TypeTravel', 'Class', 'Flight_Distance',
       'DepartureDelayin_Mins', 'ArrivalDelayin_Mins',
       'CustomerType_Loyal Customer', 'CustomerType_disloyal Customer'],
      dtype='object')

In [80]:
# mapping = {'Male': 1, 'Female': 2}
# df['Gender'] = df['Gender'].replace(mapping)
# df['Gender'].value_counts()
df['Gender'] = df1['Gender']
df = pd.get_dummies(df, columns=['Gender'], prefix='Gender')
df.columns

Index(['Satisfaction', 'Seat_comfort', 'Departure.Arrival.time_convenient',
       'Food_drink', 'Gate_location', 'Inflightwifi_service',
       'Inflight_entertainment', 'Online_support', 'Ease_of_Onlinebooking',
       'Onboard_service', 'Leg_room_service', 'Baggage_handling',
       'Checkin_service', 'Cleanliness', 'Online_boarding', 'ID', 'Age',
       'TypeTravel', 'Class', 'Flight_Distance', 'DepartureDelayin_Mins',
       'ArrivalDelayin_Mins', 'CustomerType_Loyal Customer',
       'CustomerType_disloyal Customer', 'Gender_Female', 'Gender_Male'],
      dtype='object')

In [81]:
# mapping = {'Business travel': 1, 'Personal Travel': 2}
# df['TypeTravel'] = df['TypeTravel'].replace(mapping)
# df['TypeTravel'].value_counts()
df['TypeTravel'] = df1['TypeTravel']
df = pd.get_dummies(df, columns=['TypeTravel'], prefix='TypeTravel')
df.columns

Index(['Satisfaction', 'Seat_comfort', 'Departure.Arrival.time_convenient',
       'Food_drink', 'Gate_location', 'Inflightwifi_service',
       'Inflight_entertainment', 'Online_support', 'Ease_of_Onlinebooking',
       'Onboard_service', 'Leg_room_service', 'Baggage_handling',
       'Checkin_service', 'Cleanliness', 'Online_boarding', 'ID', 'Age',
       'Class', 'Flight_Distance', 'DepartureDelayin_Mins',
       'ArrivalDelayin_Mins', 'CustomerType_Loyal Customer',
       'CustomerType_disloyal Customer', 'Gender_Female', 'Gender_Male',
       'TypeTravel_Business travel', 'TypeTravel_Personal Travel'],
      dtype='object')

In [82]:
# mapping = {'Business': 1, 'Eco': 2, 'Eco Plus': 3}
# df['Class'] = df['Class'].replace(mapping)
# df['Class'].value_counts()
df['Class'] = df1['Class']
df = pd.get_dummies(df, columns=['Class'], prefix='Class')
df.columns

Index(['Satisfaction', 'Seat_comfort', 'Departure.Arrival.time_convenient',
       'Food_drink', 'Gate_location', 'Inflightwifi_service',
       'Inflight_entertainment', 'Online_support', 'Ease_of_Onlinebooking',
       'Onboard_service', 'Leg_room_service', 'Baggage_handling',
       'Checkin_service', 'Cleanliness', 'Online_boarding', 'ID', 'Age',
       'Flight_Distance', 'DepartureDelayin_Mins', 'ArrivalDelayin_Mins',
       'CustomerType_Loyal Customer', 'CustomerType_disloyal Customer',
       'Gender_Female', 'Gender_Male', 'TypeTravel_Business travel',
       'TypeTravel_Personal Travel', 'Class_Business', 'Class_Eco',
       'Class_Eco Plus'],
      dtype='object')

In [71]:
df2=df
df['Satisfaction'].value_counts()

Satisfaction
satisfied                  49761
neutral or dissatisfied    41156
Name: count, dtype: int64

In [72]:
mapping = {'satisfied': 1, 'neutral or dissatisfied': 0}
df['Satisfaction'] = df['Satisfaction'].replace(mapping)
df['Satisfaction'].value_counts()

Satisfaction
1    49761
0    41156
Name: count, dtype: int64

In [83]:
df.drop('Id', axis=1, inplace=True)
df.drop('ID', axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90917 entries, 0 to 90916
Data columns (total 28 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Satisfaction                       90917 non-null  int64
 1   Seat_comfort                       90917 non-null  int64
 2   Departure.Arrival.time_convenient  90917 non-null  int64
 3   Food_drink                         90917 non-null  int64
 4   Gate_location                      90917 non-null  int64
 5   Inflightwifi_service               90917 non-null  int64
 6   Inflight_entertainment             90917 non-null  int64
 7   Online_support                     90917 non-null  int64
 8   Ease_of_Onlinebooking              90917 non-null  int64
 9   Onboard_service                    90917 non-null  int64
 10  Leg_room_service                   90917 non-null  int64
 11  Baggage_handling                   90917 non-null  int64
 12  Checkin_service                    90917 non-null  int64
 13  Cleanliness                        90917 non-null  int64
 14  Online_boarding                    90917 non-null  int64
 15  Age                                90917 non-null  int64
 16  Flight_Distance                    90917 non-null  int64
 17  DepartureDelayin_Mins              90917 non-null  int64
 18  ArrivalDelayin_Mins                90917 non-null  float64
 19  CustomerType_Loyal Customer        90917 non-null  bool
 20  CustomerType_disloyal Customer     90917 non-null  bool
 21  Gender_Female                      90917 non-null  bool
 22  Gender_Male                        90917 non-null  bool
 23  TypeTravel_Business travel         90917 non-null  bool
 24  TypeTravel_Personal Travel         90917 non-null  bool
 25  Class_Business                     90917 non-null  bool
 26  Class_Eco                          90917 non-null  bool
 27  Class_Eco Plus                     90917 non-null  bool
dtypes: bool(9), float64(1), int64(18)
memory usage: 14.0 MB

In [84]:
df3=df

In [87]:
X = df.iloc[:,1:].values
y = df.iloc[:,0].values
X.shape, y.shape

((90917, 27), (90917,))

In [95]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 1)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((72733, 27), (18184, 27), (72733,), (18184,))

In [96]:
# Scaling
from sklearn.preprocessing import StandardScaler

sc=StandardScaler()

X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [98]:
from keras.models import Sequential
from keras.layers import Dense

classifier = Sequential()

classifier.add(Dense(activation = 'relu', input_dim = 27, units=16, kernel_initializer='uniform'))

/home/akshirsagar/anaconda3/lib/python3.11/site-packages/keras/src/layers/core/dense.py:86: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [99]:
classifier.add(Dense(16, activation='sigmoid', kernel_initializer='uniform'))

In [100]:
classifier.add(Dense(1, activation = 'sigmoid', kernel_initializer='uniform'))

In [101]:
classifier.compile(optimizer='SGD', loss='mse', metrics=['accuracy'])
classifier.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 16)             │           448 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 16)             │           272 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            17 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 737 (2.88 KB)

 Trainable params: 737 (2.88 KB)

 Non-trainable params: 0 (0.00 B)

In [102]:
classifier.fit(X_train, y_train,           
          validation_data=(X_test,y_test),
          epochs=100,
          batch_size=32)

Epoch 1/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 912us/step - accuracy: 0.5352 - loss: 0.2485 - val_accuracy: 0.5452 - val_loss: 0.2479
Epoch 2/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 841us/step - accuracy: 0.5514 - loss: 0.2474 - val_accuracy: 0.5452 - val_loss: 0.2480
Epoch 3/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 845us/step - accuracy: 0.5482 - loss: 0.2477 - val_accuracy: 0.5452 - val_loss: 0.2479
Epoch 4/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 847us/step - accuracy: 0.5496 - loss: 0.2475 - val_accuracy: 0.5452 - val_loss: 0.2479
Epoch 5/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 832us/step - accuracy: 0.5484 - loss: 0.2476 - val_accuracy: 0.5452 - val_loss: 0.2478
Epoch 6/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 848us/step - accuracy: 0.5496 - loss: 0.2474 - val_accuracy: 0.5452 - val_loss: 0.2477
Epoch 7/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 876us/step - accuracy: 0.5477 - loss: 0.2474 - val_accuracy: 0.5452 - val_loss: 0.2474
Epoch 8/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 849us/step - accuracy: 0.5495 - loss: 0.2469 - val_accuracy: 0.5452 - val_loss: 0.2468
Epoch 9/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 3s 1ms/step - accuracy: 0.5490 - loss: 0.2461 - val_accuracy: 0.5452 - val_loss: 0.2446
Epoch 10/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.5511 - loss: 0.2425 - val_accuracy: 0.5470 - val_loss: 0.2330
Epoch 11/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 3s 1ms/step - accuracy: 0.6320 - loss: 0.2209 - val_accuracy: 0.8168 - val_loss: 0.1661
Epoch 12/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 892us/step - accuracy: 0.8175 - loss: 0.1521 - val_accuracy: 0.8258 - val_loss: 0.1297
Epoch 13/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 3s 1ms/step - accuracy: 0.8311 - loss: 0.1255 - val_accuracy: 0.8323 - val_loss: 0.1217
Epoch 14/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.8360 - loss: 0.1194 - val_accuracy: 0.8394 - val_loss: 0.1170
Epoch 15/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 911us/step - accuracy: 0.8445 - loss: 0.1147 - val_accuracy: 0.8456 - val_loss: 0.1128
Epoch 16/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 865us/step - accuracy: 0.8495 - loss: 0.1114 - val_accuracy: 0.8523 - val_loss: 0.1085
Epoch 17/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 883us/step - accuracy: 0.8579 - loss: 0.1066 - val_accuracy: 0.8583 - val_loss: 0.1042
Epoch 18/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 871us/step - accuracy: 0.8642 - loss: 0.1020 - val_accuracy: 0.8658 - val_loss: 0.0999
Epoch 19/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 940us/step - accuracy: 0.8730 - loss: 0.0964 - val_accuracy: 0.8726 - val_loss: 0.0953
Epoch 20/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 925us/step - accuracy: 0.8782 - loss: 0.0921 - val_accuracy: 0.8791 - val_loss: 0.0909
Epoch 21/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 889us/step - accuracy: 0.8813 - loss: 0.0895 - val_accuracy: 0.8845 - val_loss: 0.0869
Epoch 22/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 895us/step - accuracy: 0.8879 - loss: 0.0850 - val_accuracy: 0.8899 - val_loss: 0.0835
Epoch 23/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 949us/step - accuracy: 0.8906 - loss: 0.0826 - val_accuracy: 0.8933 - val_loss: 0.0806
Epoch 24/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 889us/step - accuracy: 0.8964 - loss: 0.0784 - val_accuracy: 0.8954 - val_loss: 0.0783
Epoch 25/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 899us/step - accuracy: 0.8971 - loss: 0.0771 - val_accuracy: 0.8984 - val_loss: 0.0762
Epoch 26/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 909us/step - accuracy: 0.9013 - loss: 0.0738 - val_accuracy: 0.9015 - val_loss: 0.0745
Epoch 27/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 854us/step - accuracy: 0.9019 - loss: 0.0729 - val_accuracy: 0.9026 - val_loss: 0.0730
Epoch 28/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 891us/step - accuracy: 0.9058 - loss: 0.0703 - val_accuracy: 0.9043 - val_loss: 0.0717
Epoch 29/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 935us/step - accuracy: 0.9058 - loss: 0.0700 - val_accuracy: 0.9050 - val_loss: 0.0707
Epoch 30/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 927us/step - accuracy: 0.9066 - loss: 0.0689 - val_accuracy: 0.9059 - val_loss: 0.0696
Epoch 31/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 934us/step - accuracy: 0.9074 - loss: 0.0680 - val_accuracy: 0.9071 - val_loss: 0.0689
Epoch 32/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 916us/step - accuracy: 0.9091 - loss: 0.0673 - val_accuracy: 0.9070 - val_loss: 0.0681
Epoch 33/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 3s 904us/step - accuracy: 0.9094 - loss: 0.0665 - val_accuracy: 0.9084 - val_loss: 0.0676
Epoch 34/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 886us/step - accuracy: 0.9109 - loss: 0.0656 - val_accuracy: 0.9094 - val_loss: 0.0669
Epoch 35/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 3s 1ms/step - accuracy: 0.9127 - loss: 0.0648 - val_accuracy: 0.9107 - val_loss: 0.0664
Epoch 36/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 978us/step - accuracy: 0.9142 - loss: 0.0642 - val_accuracy: 0.9109 - val_loss: 0.0661
Epoch 37/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 921us/step - accuracy: 0.9137 - loss: 0.0636 - val_accuracy: 0.9117 - val_loss: 0.0657
Epoch 38/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 986us/step - accuracy: 0.9127 - loss: 0.0640 - val_accuracy: 0.9122 - val_loss: 0.0653
Epoch 39/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 958us/step - accuracy: 0.9152 - loss: 0.0630 - val_accuracy: 0.9129 - val_loss: 0.0650
Epoch 40/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 937us/step - accuracy: 0.9132 - loss: 0.0637 - val_accuracy: 0.9142 - val_loss: 0.0647
Epoch 41/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 954us/step - accuracy: 0.9142 - loss: 0.0628 - val_accuracy: 0.9143 - val_loss: 0.0644
Epoch 42/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 3s 1ms/step - accuracy: 0.9167 - loss: 0.0618 - val_accuracy: 0.9146 - val_loss: 0.0642
Epoch 43/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 992us/step - accuracy: 0.9161 - loss: 0.0620 - val_accuracy: 0.9143 - val_loss: 0.0641
Epoch 44/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 3s 1ms/step - accuracy: 0.9169 - loss: 0.0614 - val_accuracy: 0.9144 - val_loss: 0.0638
Epoch 45/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 3s 1ms/step - accuracy: 0.9165 - loss: 0.0615 - val_accuracy: 0.9152 - val_loss: 0.0636
Epoch 46/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 5s 890us/step - accuracy: 0.9169 - loss: 0.0614 - val_accuracy: 0.9153 - val_loss: 0.0635
Epoch 47/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 3s 951us/step - accuracy: 0.9189 - loss: 0.0605 - val_accuracy: 0.9158 - val_loss: 0.0632
Epoch 48/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 3s 1ms/step - accuracy: 0.9186 - loss: 0.0606 - val_accuracy: 0.9153 - val_loss: 0.0632
Epoch 49/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.9176 - loss: 0.0605 - val_accuracy: 0.9156 - val_loss: 0.0630

Epoch 50/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 815us/step - accuracy: 0.9174 - loss: 0.0615 - val_accuracy: 0.9159 - val_loss: 0.0630
Epoch 51/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 805us/step - accuracy: 0.9193 - loss: 0.0595 - val_accuracy: 0.9169 - val_loss: 0.0626
Epoch 52/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 941us/step - accuracy: 0.9176 - loss: 0.0602 - val_accuracy: 0.9165 - val_loss: 0.0625
Epoch 53/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 830us/step - accuracy: 0.9199 - loss: 0.0599 - val_accuracy: 0.9166 - val_loss: 0.0625
Epoch 54/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 828us/step - accuracy: 0.9180 - loss: 0.0603 - val_accuracy: 0.9166 - val_loss: 0.0623
Epoch 55/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 829us/step - accuracy: 0.9170 - loss: 0.0611 - val_accuracy: 0.9176 - val_loss: 0.0623
Epoch 56/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 830us/step - accuracy: 0.9204 - loss: 0.0588 - val_accuracy: 0.9167 - val_loss: 0.0621
Epoch 57/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 960us/step - accuracy: 0.9190 - loss: 0.0599 - val_accuracy: 0.9159 - val_loss: 0.0622
Epoch 58/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 835us/step - accuracy: 0.9174 - loss: 0.0606 - val_accuracy: 0.9166 - val_loss: 0.0619
Epoch 59/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 816us/step - accuracy: 0.9198 - loss: 0.0592 - val_accuracy: 0.9176 - val_loss: 0.0617
Epoch 60/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 825us/step - accuracy: 0.9211 - loss: 0.0585 - val_accuracy: 0.9178 - val_loss: 0.0616
Epoch 61/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 823us/step - accuracy: 0.9227 - loss: 0.0580 - val_accuracy: 0.9172 - val_loss: 0.0615
Epoch 62/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 828us/step - accuracy: 0.9190 - loss: 0.0593 - val_accuracy: 0.9173 - val_loss: 0.0615
Epoch 63/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 913us/step - accuracy: 0.9204 - loss: 0.0590 - val_accuracy: 0.9171 - val_loss: 0.0615
Epoch 64/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 917us/step - accuracy: 0.9217 - loss: 0.0582 - val_accuracy: 0.9179 - val_loss: 0.0612
Epoch 65/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 934us/step - accuracy: 0.9225 - loss: 0.0577 - val_accuracy: 0.9178 - val_loss: 0.0612
Epoch 66/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 917us/step - accuracy: 0.9217 - loss: 0.0578 - val_accuracy: 0.9175 - val_loss: 0.0611
Epoch 67/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 884us/step - accuracy: 0.9226 - loss: 0.0574 - val_accuracy: 0.9182 - val_loss: 0.0609
Epoch 68/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 3s 949us/step - accuracy: 0.9202 - loss: 0.0592 - val_accuracy: 0.9177 - val_loss: 0.0608
Epoch 69/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 884us/step - accuracy: 0.9207 - loss: 0.0586 - val_accuracy: 0.9182 - val_loss: 0.0607
Epoch 70/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 932us/step - accuracy: 0.9215 - loss: 0.0583 - val_accuracy: 0.9184 - val_loss: 0.0607
Epoch 71/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 909us/step - accuracy: 0.9224 - loss: 0.0577 - val_accuracy: 0.9181 - val_loss: 0.0605
Epoch 72/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 890us/step - accuracy: 0.9217 - loss: 0.0579 - val_accuracy: 0.9183 - val_loss: 0.0605
Epoch 73/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 901us/step - accuracy: 0.9230 - loss: 0.0565 - val_accuracy: 0.9181 - val_loss: 0.0603
Epoch 74/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 896us/step - accuracy: 0.9217 - loss: 0.0577 - val_accuracy: 0.9181 - val_loss: 0.0603
Epoch 75/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 896us/step - accuracy: 0.9226 - loss: 0.0569 - val_accuracy: 0.9183 - val_loss: 0.0602
Epoch 76/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 889us/step - accuracy: 0.9228 - loss: 0.0569 - val_accuracy: 0.9182 - val_loss: 0.0601
Epoch 77/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 897us/step - accuracy: 0.9238 - loss: 0.0564 - val_accuracy: 0.9187 - val_loss: 0.0601
Epoch 78/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 894us/step - accuracy: 0.9212 - loss: 0.0576 - val_accuracy: 0.9179 - val_loss: 0.0600
Epoch 79/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 905us/step - accuracy: 0.9235 - loss: 0.0563 - val_accuracy: 0.9188 - val_loss: 0.0598
Epoch 80/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 903us/step - accuracy: 0.9260 - loss: 0.0556 - val_accuracy: 0.9184 - val_loss: 0.0596
Epoch 81/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 897us/step - accuracy: 0.9246 - loss: 0.0558 - val_accuracy: 0.9187 - val_loss: 0.0596
Epoch 82/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 905us/step - accuracy: 0.9243 - loss: 0.0554 - val_accuracy: 0.9192 - val_loss: 0.0595
Epoch 83/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 3s 903us/step - accuracy: 0.9231 - loss: 0.0563 - val_accuracy: 0.9188 - val_loss: 0.0593
Epoch 84/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 897us/step - accuracy: 0.9230 - loss: 0.0561 - val_accuracy: 0.9197 - val_loss: 0.0592
Epoch 85/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 953us/step - accuracy: 0.9236 - loss: 0.0561 - val_accuracy: 0.9187 - val_loss: 0.0591
Epoch 86/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 940us/step - accuracy: 0.9234 - loss: 0.0563 - val_accuracy: 0.9190 - val_loss: 0.0589
Epoch 87/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 924us/step - accuracy: 0.9235 - loss: 0.0559 - val_accuracy: 0.9197 - val_loss: 0.0589
Epoch 88/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 918us/step - accuracy: 0.9245 - loss: 0.0556 - val_accuracy: 0.9203 - val_loss: 0.0587
Epoch 89/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 906us/step - accuracy: 0.9244 - loss: 0.0554 - val_accuracy: 0.9194 - val_loss: 0.0587
Epoch 90/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 915us/step - accuracy: 0.9259 - loss: 0.0551 - val_accuracy: 0.9199 - val_loss: 0.0585
Epoch 91/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 942us/step - accuracy: 0.9266 - loss: 0.0541 - val_accuracy: 0.9201 - val_loss: 0.0585
Epoch 92/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 944us/step - accuracy: 0.9261 - loss: 0.0546 - val_accuracy: 0.9196 - val_loss: 0.0583
Epoch 93/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 984us/step - accuracy: 0.9259 - loss: 0.0543 - val_accuracy: 0.9198 - val_loss: 0.0583
Epoch 94/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 952us/step - accuracy: 0.9251 - loss: 0.0549 - val_accuracy: 0.9205 - val_loss: 0.0582
Epoch 95/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 928us/step - accuracy: 0.9279 - loss: 0.0537 - val_accuracy: 0.9201 - val_loss: 0.0581
Epoch 96/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 916us/step - accuracy: 0.9263 - loss: 0.0546 - val_accuracy: 0.9205 - val_loss: 0.0578
Epoch 97/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 3s 981us/step - accuracy: 0.9271 - loss: 0.0536 - val_accuracy: 0.9210 - val_loss: 0.0578
Epoch 98/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 988us/step - accuracy: 0.9265 - loss: 0.0546 - val_accuracy: 0.9212 - val_loss: 0.0577

Epoch 99/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 936us/step - accuracy: 0.9272 - loss: 0.0545 - val_accuracy: 0.9213 - val_loss: 0.0576
Epoch 100/100
2273/2273 ━━━━━━━━━━━━━━━━━━━━ 2s 878us/step - accuracy: 0.9288 - loss: 0.0527 - val_accuracy: 0.9212 - val_loss: 0.0576

In [103]:
from sklearn.metrics import confusion_matrix

y_pred = classifier.predict(X_test)

y_pred = (y_pred > 0.5)

cm1 = confusion_matrix(y_test, y_pred)
print(cm1)

569/569 ━━━━━━━━━━━━━━━━━━━━ 0s 688us/step
[[7580  690]
 [ 742 9172]]

In [104]:
accuracy_model1 = ((cm1[0][0]+cm1[1][1])*100)/(cm1[0][0]+cm1[1][1]+cm1[0][1]+cm1[1][0])
print (accuracy_model1, '% of testing data was classified correctly')

92.1249450065992 % of testing data was classified correctly